<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "admin.html" %}
{% block admin_content %}
<h2>Gestión de Docentes</h2>

{% if message %}
<div class="message">{{ message }}</div>
{% endif %}

<ul>
    {% for docente in docentes %}
        <li>{{ docente.clave }} - {{ docente.nombre }} - {{ docente.correo }}</li>
    {% endfor %}
</ul>

<h3>Agregar Docente</h3>
<form method="POST" action="/docentes/agregar">
    <input type="text" name="clave" placeholder="Clave" required>
    <input type="text" name="nombre" placeholder="Nombre" required>
    <input type="email" name="correo" placeholder="Correo" required>
    <button type="submit">Guardar</button>
</form>
{% endblock %}

</body>
</html>